In [1]:
import pandas as pd

# Мультииндексы и объединение

In [17]:
data = pd.read_csv("https://video.ittensive.com/python-advanced/internet-2017.csv", sep=",", names=["Region", "2017"],index_col="Region")

In [18]:
data.head()

                                                                   2017
Region
Регион                Число абонентов фиксированного широкополосного...
Российская Федерация                                              14,44
БЕЛГОРОДСКАЯ ОБЛ.                                                  9,83
БРЯНСКАЯ ОБЛ.                                                     12,46
ВЛАДИМИРСКАЯ ОБЛ.                                                 12,38

In [19]:
data.columns

Index(['2017'], dtype='object')

In [21]:
data.index[:5]

Index(['Регион', 'Российская Федерация', 'БЕЛГОРОДСКАЯ ОБЛ.', 'БРЯНСКАЯ ОБЛ.',
       'ВЛАДИМИРСКАЯ ОБЛ.'],
      dtype='object', name='Region')

# Task
Получите данные по безработице в Москве:

In [84]:
data_2 = pd.read_csv("https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv",
                    sep=';')

In [44]:
data_2.head()

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Period,Unnamed: 9
0,39809862,1,2001,8896,25762,6696,824,34658,Декабрь,NaN
1,64592413,3,2003,8679,24967,6226,1155,33646,Декабрь,NaN
2,64592414,4,2004,9822,25239,7318,1411,35061,Декабрь,NaN
3,64592415,5,2005,10844,23597,6890,1531,34441,Декабрь,NaN
4,64592416,6,2006,11041,22928,6604,1671,33969,Декабрь,NaN

Данные по вызовам пожарных

In [45]:
data_1 = pd.read_csv("https://video.ittensive.com/python-advanced/data-5283-2019-10-04.utf.csv", sep=";")
data_1.AdmArea.replace('Центральный административный округ ', 'Центральный административный округ', inplace=True)
data_1.AdmArea.replace('Восточный административный округ ', 'Восточный административный округ', inplace=True)
data_1.AdmArea.replace('Западный административный округ ', 'Западный административный округ', inplace=True)
data_1.AdmArea.replace(['Западный административный округ ', 'Запдный административный округ'], 'Западный административный округ', inplace=True)
data_1.AdmArea.replace('Зеленоградский административный округ ', 'Зеленоградский административный округ', inplace=True)
data_1.AdmArea.replace('Северо-Востосный административный округ ', 'Северо-Востосный административный округ', inplace=True)
data_1.AdmArea.replace(['Северо-Западный административный округ ', 'Северо-Закпадный административный округ', 'Северо-Заподный административный округ'], 'Северо-Западный административный округ', inplace=True)
data_1.AdmArea.replace(['Троицкий и Новомосковский  административные округа ', 'Троицкий и Новомосковский  административные округа', 'Троицкий и Новомосковский административные округ а', 'Троицкий и Новомосковский административные округа', 'Троицкий и Новомосковский административный округа ', 'Троицкий и новомосковский административные округа', 'Троицкий и Новомосковский административные округа ', 'Троицкий и Новомосковский административный округа'], 'Троицкий и Новомосковский административные округа', inplace=True)
data_1.AdmArea.replace(['Юго=Восточный административный округ', 'Юго-Восточнный административный округ', 'Юго-Востосный административный округ'], 'Юго-Восточный административный округ', inplace=True)
data_1.AdmArea.replace('Северно-Западный административный округ', 'Северо-Западный административный округ', inplace=True)
data_1.AdmArea.replace(['Северо-Восточный административный округ ', 'Северо-Востосный административный округ'], 'Северо-Восточный административный округ', inplace=True)
data_1.AdmArea.replace('Южный административный округ ', 'Южный административный округ', inplace=True)
data_1.AdmArea.replace('Северный административный округ ', 'Северный административный округ', inplace=True)
data_1.AdmArea.replace('Юго-Восточный административный округ ', 'Юго-Восточный административный округ', inplace=True)
data_1.AdmArea.replace(['Юго-Западный административный округ ', 'Юго-западный административный округ', 'ЮгоЗападный административный округ'], 'Юго-Западный административный округ', inplace=True)

In [46]:
data_1.head()

,ID,AdmArea,Year,global_id,Month,Calls,Unnamed: 6
0,1,Центральный административный округ,2015,37153160,Январь,408,NaN
1,2,Северный административный округ,2015,37153161,Январь,408,NaN
2,3,Северо-Восточный административный округ,2015,37153162,Январь,445,NaN
3,4,Восточный административный округ,2015,37153163,Январь,619,NaN
4,5,Юго-Восточный административный округ,2015,37153164,Январь,541,NaN

Объедините эти данные индексами (Месяц/Год)

In [47]:
data_2.rename({"Period": "Month"}, axis=1, inplace=True)
data_2.head()

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Month,Unnamed: 9
0,39809862,1,2001,8896,25762,6696,824,34658,Декабрь,NaN
1,64592413,3,2003,8679,24967,6226,1155,33646,Декабрь,NaN
2,64592414,4,2004,9822,25239,7318,1411,35061,Декабрь,NaN
3,64592415,5,2005,10844,23597,6890,1531,34441,Декабрь,NaN
4,64592416,6,2006,11041,22928,6604,1671,33969,Декабрь,NaN

Сделаем у каждого набора данных по два индекса: год, месяц

In [48]:
data_1.set_index(["Year", "Month"], inplace=True)

In [49]:
data_2.set_index(["Year", "Month"], inplace=True)

Удалим столбцы, все занчения которых NaN

In [52]:
data_1.dropna(axis=1, how='all', inplace=True)
data_1.head()

             ID                                  AdmArea  global_id  Calls
Year Month
2015 Январь   1       Центральный административный округ   37153160    408
     Январь   2          Северный административный округ   37153161    408
     Январь   3  Северо-Восточный административный округ   37153162    445
     Январь   4         Восточный административный округ   37153163    619
     Январь   5     Юго-Восточный административный округ   37153164    541

In [53]:
data_2.dropna(axis=1, how='all', inplace=True)
data_2.head()

,,global_id,ID,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal
Year,Month,,,,,,,
2001,Декабрь,39809862,1,8896,25762,6696,824,34658
2003,Декабрь,64592413,3,8679,24967,6226,1155,33646
2004,Декабрь,64592414,4,9822,25239,7318,1411,35061
2005,Декабрь,64592415,5,10844,23597,6890,1531,34441
2006,Декабрь,64592416,6,11041,22928,6604,1671,33969

In [57]:
joint_data = data_1.join(data_2, lsuffix='_1', rsuffix='_2')

In [58]:
joint_data.head()

             ID_1                                  AdmArea  global_id_1  \
Year Month
2015 Август    78       Центральный административный округ     37153238
     Август    79          Северный административный округ     37153239
     Август    80  Северо-Восточный административный округ     37153240
     Август    81         Восточный административный округ     37153241
     Август    82     Юго-Восточный административный округ     37153242

             Calls  global_id_2  ID_2  UnemployedMen  UnemployedWomen  \
Year Month
2015 Август    385  273573620.0  58.0        15232.0          19966.0
     Август    374  273573620.0  58.0        15232.0          19966.0
     Август    461  273573620.0  58.0        15232.0          19966.0
     Август    600  273573620.0  58.0        15232.0          19966.0
     Август    507  273573620.0  58.0        15232.0          19966.0

             UnemployedYoung  UnemployedDisabled  UnemployedTotal
Year Month
2015 Август           5312.0               996.0          35198.0
     Август           5312.0               996.0          35198.0
     Август           5312.0               996.0          35198.0
     Август           5312.0               996.0          35198.0
     Август           5312.0               996.0          35198.0

Найдите значение поля UnemployedMen в том месяце, когда было меньше всего вызовов в Центральном административном округе.

In [62]:
joint_data[joint_data["AdmArea"]=='Центральный административный округ'].sort_values("Calls", ascending=False)

               ID_1                             AdmArea  global_id_1  Calls  \
Year Month
2018 Апрель     430  Центральный административный округ    862003768    654
     Июнь       452  Центральный административный округ    872868381    619
2017 Декабрь    386  Центральный административный округ    831948203    608
2018 Май        441  Центральный административный округ    864432139    607
2019 Февраль    540  Центральный административный округ    912314863    603
2015 Апрель      34  Центральный административный округ     37153194    568
2019 Апрель     562  Центральный административный округ    919904931    559
     Май        573  Центральный административный округ    926245039    554
     Сентябрь   617  Центральный административный округ   1011449872    550
2018 Март       419  Центральный административный округ    860314884    544
2019 Август     606  Центральный административный округ   1006670092    543
2018 Ноябрь     507  Центральный административный округ    901533082    540
     Сентябрь   485  Центральный административный округ    889767255    533
2015 Март        23  Центральный административный округ     37153183    533
2019 Июнь       584  Центральный административный округ    930769929    525
2018 Октябрь    496  Центральный административный округ    895977804    523
     Декабрь    518  Центральный административный округ    905410016    521
     Февраль    408  Центральный административный округ    853996670    515
     Август     474  Центральный административный округ    886303993    512
2019 Июль       595  Центральный административный округ    933666317    500
2018 Июль       463  Центральный административный округ    881172894    496
2019 Март       551  Центральный административный округ    916266288    490
2017 Октябрь    364  Центральный административный округ    662208077    480
     Июнь       320  Центральный административный округ    477689488    479
     Сентябрь   353  Центральный административный округ    642001699    478
2018 Январь     397  Центральный административный округ    839524114    465
2017 Май        309  Центральный административный округ    423648124    458
     Август     342  Центральный административный округ    638742420    446
     Июль       331  Центральный административный округ    620713785    444
     Апрель     298  Центральный административный округ    400641872    439
2016 Июль       199  Центральный административный округ    171729187    427
     Май        177  Центральный административный округ    170688968    420
2017 Январь     265  Центральный административный округ    284507333    419
2015 Июль        67  Центральный административный округ     37153227    414
2016 Апрель     166  Центральный административный округ    169251943    410
     Март       155  Центральный административный округ    167615194    408
2015 Январь       1  Центральный административный округ     37153160    408
2016 август     210  Центральный административный округ    272727128    403
2015 Октябрь    100  Центральный административный округ     37153260    402
     Сентябрь    89  Центральный административный округ     37153249    400
2017 Ноябрь     375  Центральный административный округ    689078837    396
2015 Июнь        56  Центральный административный округ     37153216    396
2016 Октябрь    232  Центральный административный округ    279239447    395
     Декабрь    254  Центральный административный округ    282670884    392
     Январь     133  Центральный административный округ     64187470    389
     Июнь       188  Центральный административный округ    171572047    387
2015 Август      78  Центральный административный округ     37153238    385
2019 Январь     529  Центральный административный округ    909726385    378
2017 Март       287  Центральный административный округ    334978972    375
2015 Декабрь    122  Центральный административный округ     62435324    359
2016 сентябрь   221  Центральный административный округ    273525762    356
2017 Февраль    276  Центральный административный округ    323477492    355
2016 Февраль    144  Центральный административный округ     64364589    353
2015 Ноябрь     111  Центральный административный округ     59487900    350
2016 Ноябрь     243  Центральный административный округ    281867894    342
2015 Май         45  Центральный административный округ     37153205    303
     Февраль     12  Центральный административный округ     37153172    220

               global_id_2   ID_2  UnemployedMen  UnemployedWomen  \
Year Month
2018 Апрель    863485150.0   91.0        12527.0          15988.0
     Июнь      880655751.0   93.0        11149.0          14341.0
2017 Декабрь   841752805.0   87.0        12971.0          17109.0
2018 Май       880655734.0   92.0        11622.0          15020.0
2019 Февраль   918869066.0  101.0        13123.0          16904.0
2015 Апрель    273573616.0   54.0        15159.0          19859.0
2019 Апрель    926094627.0  103.0        13803.0          17319.0
     Май       933200250.0  104.0        12818.0          16221.0
     Сентябрь          NaN    NaN            NaN              NaN
2018 Март      861113574.0   90.0        12793.0          16301.0
2019 Август            NaN    NaN            NaN              NaN
2018 Ноябрь    904345746.0   98.0        11080.0          14610.0
     Сентябрь  894075540.0   96.0        10651.0          14043.0
2015 Март      273573615.0   53.0        14253.0          18681.0
2019 Июнь      933200260.0  105.0        12260.0          15769.0
2018 Октябрь   896740236.0   97.0        10763.0          14375.0
     Декабрь   909303094.0   99.0        12063.0          15815.0
     Февраль   858378159.0   89.0        12993.0          16603.0
     Август    886440501.0   95.0        10745.0          13837.0
2019 Июль              NaN    NaN            NaN              NaN
2018 Июль      886051152.0   94.0        10869.0          13881.0
2019 Март      918869067.0  102.0        13433.0          17164.0
2017 Октябрь   671801829.0   85.0        11971.0          15446.0
     Июнь      615575599.0   81.0        13169.0          16231.0
     Сентябрь  671793397.0   84.0        12129.0          15554.0
2018 Январь    843989666.0   88.0        12782.0          16809.0
2017 Май       476885649.0   80.0        13696.0          16874.0
     Август    671788231.0   83.0        12498.0          15489.0
     Июль      638722421.0   82.0        12902.0          15983.0
     Апрель    419018595.0   79.0        14703.0          17885.0
2016 Июль      273573632.0   70.0        18727.0          23132.0
     Май       273573630.0   68.0        20283.0          24839.0
2017 Январь    323476240.0   76.0        15253.0          20006.0
2015 Июль      273573619.0   57.0        15208.0          19910.0
2016 Апрель    273573629.0   67.0        21035.0          25736.0
     Март      273573628.0   66.0        20501.0          25725.0
2015 Январь    273573613.0   51.0        12233.0          17039.0
2016 август            NaN    NaN            NaN              NaN
2015 Октябрь   273573622.0   60.0        15730.0          21556.0
     Сентябрь  273573621.0   59.0        15321.0          20687.0
2017 Ноябрь    841752797.0   86.0        12054.0          15554.0
2015 Июнь      273573618.0   56.0        14935.0          19782.0
2016 Октябрь   281593353.0   73.0        16242.0          21151.0
     Декабрь   282746341.0   75.0        16054.0          20833.0
     Январь    273573626.0   64.0        18477.0          25062.0
     Июнь      273573631.0   69.0        19624.0          24086.0
2015 Август    273573620.0   58.0        15232.0          19966.0
2019 Январь    918869065.0  100.0        12225.0          16078.0
2017 Март      338497586.0   78.0        15155.0          18478.0
2015 Декабрь   273573624.0   62.0        18615.0          25431.0
2016 сентябрь          NaN    NaN            NaN              NaN
2017 Февраль   338496741.0   77.0        15459.0          19364.0
2016 Февраль   273573627.0   65.0        19819.0          25758.0
2015 Ноябрь    273573623.0   61.0        16688.0          22881.0
2016 Ноябрь    282190960.0   74.0        15481.0          19928.0
2015 Май       273573617.0   55.0        14873.0          19407.0
     Февраль   273573614.0   52.0        13465.0          18080.0

               UnemployedYoung  UnemployedDisabled  UnemployedTotal
Year Month
2018 Апрель             3188.0               599.0          28515.0
     Июнь               2639.0               526.0          25490.0
2017 Декабрь            3676.0               722.0          30080.0
2018 Май                2816.0               575.0          26642.0
2019 Февраль            3103.0               575.0          30027.0
2015 Апрель             5385.0              1052.0          35018.0
2019 Апрель             3060.0               593.0          31122.0
     Май                2711.0               577.0          29039.0
     Сентябрь              NaN                 NaN              NaN
2018 Март               3309.0               638.0          29094.0
2019 Август                NaN                 NaN              NaN
2018 Ноябрь             2911.0               467.0          25690.0
     Сентябрь           2829.0               472.0          24694.0
2015 Март               5072.0              1014.0          32934.0
2019 Июнь               2545.0               576.0          28029.0
2018 Октябрь            2892.0               477.0          25138.0
     Декабрь            3077.0               527.0          27878.0
     Февраль            3442.0               658.0          29596.0
     Август             2735.0               503.0          24582.0
2019 Июль                  NaN                 NaN              NaN
2018 Июль               2637.0               501.0          24750.0
2019 Март               3102.0               593.0          30597.0
2017 Октябрь            3512.0               736.0          27417.0
     Июнь               3484.0               776.0          29400.0
     Сентябрь           3557.0               722.0          27683.0
2018 Январь             3537.0               708.0          29591.0
2017 Май                3726.0               797.0          30570.0
     Август             3571.0               738.0          27987.0
     Июль               3545.0               756.0          28885.0
     Апрель             4113.0               869.0          32588.0
2016 Июль               5732.0              1188.0          41859.0
     Май                6433.0              1237.0          45122.0
2017 Январь             4505.0              1007.0          35259.0
2015 Июль               5162.0               986.0          35118.0
2016 Апрель             6900.0              1281.0          46771.0
     Март               6847.0              1330.0          46226.0
2015 Январь             4106.0              1001.0          29272.0
2016 август                NaN                 NaN              NaN
2015 Октябрь            5829.0              1020.0          37286.0
     Сентябрь           5649.0               956.0          36008.0
2017 Ноябрь             3438.0               714.0          27608.0
2015 Июнь               5140.0               969.0          34717.0
2016 Октябрь            4969.0              1104.0          37393.0
     Декабрь            4794.0              1075.0          36887.0
     Январь             6368.0              1364.0          43539.0
     Июнь               6066.0              1196.0          43710.0
2015 Август             5312.0               996.0          35198.0
2019 Январь             2960.0               533.0          28303.0
2017 Март               4365.0               927.0          33633.0
2015 Декабрь            6817.0              1128.0          44046.0
2016 сентябрь              NaN                 NaN              NaN
2017 Февраль            4511.0               980.0          34823.0
2016 Февраль            6859.0              1335.0          45577.0
2015 Ноябрь             6108.0              1055.0          39569.0
2016 Ноябрь             4684.0              1083.0          35409.0
2015 Май                5131.0              1042.0          34280.0
     Февраль            4645.0              1028.0          31545.0

In [64]:
joint_data[joint_data["AdmArea"]=='Центральный административный округ'].sort_values("Calls", ascending=False).UnemployedMen.iloc[0]

12527.0

In [69]:
temp_data = joint_data[joint_data["AdmArea"]=='Центральный административный округ']

In [83]:
temp_data[temp_data['Calls']==temp_data['Calls'].max()].UnemployedMen

Year  Month
2018  Апрель    12527.0
Name: UnemployedMen, dtype: float64

In [79]:
temp_data['Calls']

Year  Month
2015  Август      385
      Апрель      568
      Декабрь     359
      Июль        414
      Июнь        396
      Май         303
      Март        533
      Ноябрь      350
      Октябрь     402
      Сентябрь    400
      Февраль     220
      Январь      408
2016  Апрель      410
      Декабрь     392
      Июль        427
      Июнь        387
      Май         420
      Март        408
      Ноябрь      342
      Октябрь     395
      Февраль     353
      Январь      389
      август      403
      сентябрь    356
2017  Август      446
      Апрель      439
      Декабрь     608
      Июль        444
      Июнь        479
      Май         458
      Март        375
      Ноябрь      396
      Октябрь     480
      Сентябрь    478
      Февраль     355
      Январь      419
2018  Август      512
      Апрель      654
      Декабрь     521
      Июль        496
      Июнь        619
      Май         607
      Март        544
      Ноябрь      540
      Октябрь     523
      Сентябрь    533
      Февраль     515
      Январь      465
2019  Август      543
      Апрель      559
      Июль        500
      Июнь        525
      Май         554
      Март        490
      Сентябрь    550
      Февраль     603
      Январь      378
Name: Calls, dtype: int64

In [81]:
temp_data['Calls'].max()

654